.drop-zone{
  max-width: : 50%;
  height : 20rem;
  /* padding : 4rem; */
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight:50;
  font-size:2rem;
  cursor : pointer;
  /* color: #cccccc; */
  border : 2rem dashed #009578;
  border-radius: 2rem;
}
.drop-zone--over {
  border-style: solid;
}
.drop-zone__input{
  display: none;
}
.drop-zone__thumb{
  max-width: 15rem;
  max-height: 3rem;
  border-radius:0.1rem;
  background-color: blue;
}

.drop-zone__thumb::after{
  content: attr(data-label);
  max-width: 100%;
  color : blue;
  /* background: rgba(0,0,0,0.75); */
  /* font-size: 100rem;
  text-align: center; */
}

/* read pdf */
.top-bar {
  text-align: center;
  background: #000000;
  color: #fff;
  cursor: pointer;
  /* padding: 0.4em ; */
}
.page-info {
  margin-left: 1rem;
}
.btn {
  background: #ffffff;
  color: green;
  margin: 0;
  /* padding: 0.2rem; */
}
.btn:hover {
  opacity: 0.8;
  padding: 0.2rem;
}
#next-page{
    float: right;
}
#prev-page{
    float: left;
    padding: 0;
    margin: 0;
}
#next-page, #prev-page{
    margin: 0;
    padding: 0;
}
.error {
  background: red;
  color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
}
